<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_commission_root"
              name="Commission"
              web_icon="ace_tmg,static/description/icon.png"
              sequence="30"/>

    <menuitem id="menu_ace_commission"
              name="Commission"
              action="action_ace_commission"
              parent="menu_commission_root"
              sequence="5"/>

    <menuitem id="menu_tmg_commission"
              name="Commission (TMG)"
              action="action_tmg_commission"
              parent="menu_commission_root"
              sequence="10"/>

    <menuitem id="menu_commission_config_main"
              name="Configuration"
              parent="menu_commission_root"
              sequence="100"/>

    <menuitem id="menu_ace_commission_config"
              parent="menu_commission_config_main"
              action="action_ace_commission_config_form"
              sequence="5"/>

    <menuitem id="menu_ace_commission_discount_config"
              parent="menu_commission_config_main"
              action="action_ace_commission_discount_config_form"
              sequence="5"/>

    <menuitem id="menu_tmg_membership_level"
              parent="contacts.res_partner_menu_config"
              action="action_tmg_membership_level"
              sequence="5"/>

    <menuitem id="ace_wine_try_report_menu" parent="sale.menu_sale_report"
              action="action_ace_wine_try_report"/>
</odoo>